MONGODB_DB=flashcard_db
MONGODB_USER=your_sectet
MONGODB_PASSWORD=your_sectet
# LOCAL_MONGODB_URI=mongodb://admin:secretpassword@localhost:27017/flashcard_db?authSource=admin
MONGODB_HOST=mongodb+srv://ttester:passwordpassword@flashcard.dbsmd.mongodb.net/?retryWrites=true&w=majority&appName=flashcard

# Google Drive Storage
GOOGLE_CLIENT_ID=your_sectet
GOOGLE_CLIENT_SECRET=your_sectet

# AI Generation (Gemini)
GEMINI_API_KEY=your_sectet
GEMINI_MODEL=gemini-2.5-flash
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=app/service-account-key.json


# AI Generation (OpenRouter Llama)
OPENROUTER_API_KEY=your_openrouter_api_key