*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set default font styles */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background-default);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

/* Define CSS variables for theme colors */
:root {
    --background-default: #fcfcfc;
    --text-primary: #141b2d;
}

[data-theme='dark'] {
    --background-default: #141b2d;
    --text-primary: #e0e0e0;
}

/* Ensure links have no underline and inherit color */
a {
    text-decoration: none;
    color: inherit;
}